/************************************************ Forms *****************************************************/
.limitInput {

}

.form-group .help-block {
    position: absolute;
    display: none;
}

.margin-top {
    margin-top: 24px;
}
/************************************************ Loading (PACE)***********************************************/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #009688;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
    pointer-events: none;
}

.pace.pace-active .pace-activity {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
}

.pace .pace-activity::after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::after {
    top: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-theme-corner-indicator-spin 1.2s linear infinite;
    animation: pace-theme-corner-indicator-spin 1.2s linear infinite;
}

@-webkit-keyframes pace-theme-corner-indicator-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes pace-theme-corner-indicator-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

/************************************************ Global***********************************************/
.wrap {
    /*width: 500px;*/
    /*background: #555;*/
    /*height: 500px;*/
}
.left, .right {
    display: inline-block;
/*//display: inline;*/
/*//zoom: 1;*/
    /*width: 100%;*/
    /*margin-right: -100%;*/
    vertical-align: bottom;
}
.right {
    text-align: right;
}
.left a, .right a { display: inline-block; position: relative; }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.container-fluid{
    height: 200px;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {
    height:100%;
    display:table-cell;
    vertical-align: middle;
}

.centering {
    float:none;
    margin:0 auto;
}

.login-image {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    /*min-height: 20em;*/
    /*height: 27em;*/
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-attachment: scroll;
    background-image: url('../../img/KydjkP5.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    opacity: 1;
}

.btn {
    text-overflow: ellipsis;
    overflow: hidden;
}

.circle .image-wrap {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

.userAvaBackground {
    /*content: '';*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 240px;*/
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-attachment: scroll;
    background-image: url('../../img/kpmm4ef1cdf4oefa4gws.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    opacity: 1;
}

#user-nickname-sidebar {
    margin-top: 32px;
}

#user-nickname-sidebar a{
    color: #cdeae7;
}

.userAvaImage img {
    padding-top: 15px;
    width: 128px;
    /*width:50%;*/
    border-radius:50%;
}

.commenterImage {
    width: 3.1em;
    margin-right:10px;
    height:100%;
    float:left;
}

.commenterImage img {
    width:100%;
    border-radius:50%;
}

/*.avatar-sm {*/
    /*-webkit-background-size: contain;*/
    /*background-size: contain;*/
    /*margin: auto;*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*border-radius: 0.15em;*/
    /*-webkit-border-radius: 0.15em;*/
    /*-moz-border-radius: 0.15em;*/

    /*!*background-size: 1em;*!*/
    /*background: url(../../img/image-4.jpg) no-repeat;*/
    /*overflow: hidden;*/
    /*float: left;*/
/*}*/

.circular-130 {
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    background: url(../../img/image-4.jpg) no-repeat;
    overflow: hidden;
}

a, a:hover, a:focus {
    color: #03a9f4;
}

@media (min-width: 1200px) {
    .container { /*TODO play with */ /*width: 1040px;*/
        width: 1240px;
    }
}

.form-group {
    margin: 0;
}

.label {
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 16px;
    font-weight: 400;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.label-sm {
    font-size: 10px;
    vertical-align: middle;
    padding: 2px 8px;
    border-radius: 16px;
    font-weight: 400;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.form-group.form-group-sm.label-floating label.control-label, .form-group.form-group-sm.label-placeholder label.control-label {
    font-size: 13px;
    top: -16px;
}



/************************************************ Icons***********************************************/
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/************************************************ Page header***********************************************/
.page-header {
    margin: 0 0 40px;
}

.page-header h2 {
    margin: 0;
}

/************************************************ Main***********************************************/
.blog-main {
    font-size: 14px;
    line-height: 1.5;
}

.blog-content {
    padding-top: 320px;
}

/************************************************ Sidebar***********************************************/
.sidebar-module:first-child {
    margin-top: 0;
}

.sidebar-module {
    margin: 30px auto;
}

.sidebar-module h4 {
    margin-bottom: 22px;
}

.sidebar-module-inset p:last-child, .sidebar-module-inset ul:last-child, .sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

.sidebar-module .categories li {
    margin: 12px auto;
}

.form-horizontal .form-group,.form-sidebar{
    margin-right: 15px;
    margin-left: 15px;
}

.sidebar-module .form-control .form-group .checkbox label, .form-group .radio label, .form-group label {
    font-size: 10px;
    font-weight: 200;
    vertical-align: middle;
}

.sidebar-module .form-control .form-group .checkbox label, .form-group .radio label, .form-group label input[type=checkbox], input[type=radio]{
    vertical-align: text-bottom;
}

.sidebar-module .nav-pills  {
    margin-bottom: 20px;
}

.sidebar-module .form-group span.forgot {
    float: right;
    font-size: 10px;
    padding-top: 5px;
}

/*.nav-pills > li {*/
    /*float: left;*/
/*}*/

.nav-pills > li > a {
    border-radius: 1px;
    color : #009688;
}

.nav-pills > li + li {
    margin-left: 2px
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #009688;
}

/************************************************ Paginations***********************************************/
.pager {
    margin-bottom: 60px;
    text-align: left;
}

.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/************************************************ Posts***********************************************/
.blog-post {
    margin-bottom: 30px;
}

.blog-post a {
    text-decoration: none;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-post-meta {
    padding: 16px 22px;
    color: #999;
    display: block;
    border-bottom: 1px solid #EDEDED;
}

.blog-post-date {
    margin: auto;
}

.blog-post-mark {
    margin: 10px auto;
}

.blog-post-content {
    padding: 16px 22px;
}

.blog-post-content p {
    color: #999;
    margin: 18px auto;
}

.blog-post-content .btn {
    padding-left: 6px;
    padding-right: 6px;
}

.blog-post p {
    font-size: 13px;
    font-weight: 400;
}

.blog-post .panel-body {
    padding: 0;
}

.blog-post .panel > img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.blog-comments .panel, .blog-post .panel {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*.blog-comments:hover .panel,*/
.blog-post:hover .panel {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-quote-left {
    font-size: inherit;
}

.panel-footer .dropdown-menu {
    min-width: 0;
    left: 65%;
}

.panel-footer .dropdown-menu li{
    text-align: center;
}

/************************************************ Comments***********************************************/
.textinput {
    resize: none;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: 40px;
    overflow: hidden;
    border-left: 2px solid #d2bf94;
    padding: 10px 20px;
    color: #c7c7c7;
    background-color: #fafafa;
    -moz-transition: color 1s, background-color 1s;
    -webkit-transition: color 1s, background-color 1s;
    -o-transition: color 1s, background-color 1s;
    transition: color 1s, background-color 1s;
}

.textinput:focus {
    overflow: auto;
    max-height: 100%; /*width: 100%;*/
    color: #000;
    background-color: #fff;
}

.blog-comments-title {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

#comment_list {
    margin: 0
}

#comment_list ol.commentlist {
    clear: both;
    /*overflow: hidden;*/
    list-style: none;
    margin: 0;
    padding: 0
}

#comment_list ol.commentlist li.comment {
    line-height: 18px
}

#comment_list ol.commentlist li.comment .comment-body {
    position: relative;
    padding: 25px; /*border: 1px solid #d0d0d0;*/
    -moz-box-shadow: 0 2px 0 #e6e6e6;
    box-shadow: 0 2px 0 #e6e6e6;
    margin-bottom: 40px;
    background-color: #fff
}

#comment_list {
    margin: 0
}

#comment_list ol.commentlist {
    clear: both;
    /*overflow: hidden;*/
    list-style: none;
    margin: 0;
    padding: 0
}

#comment_list ol.commentlist li.comment {
    line-height: 18px
}

#comment_list ol.commentlist li.comment .comment-body {
    position: relative;
    padding: 20px 20px 0; /*border: 1px solid #d0d0d0;*/
    /*-moz-box-shadow: 0 0 0px 0px rgba(75, 181, 171, 0.5);*/
    /*box-shadow: 0 1px 1px rgba(75, 181, 171, 0.5);*/
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 16px;
    /*background-color: #fff*/
    background-color: transparent;
}

ul li .comment-body {
    margin-bottom: 8px;
}

.comment-footer .dropdown-menu {
    min-width: 0;
    left: 47%;
}

.comment-footer li {
    text-align: center;
}

/*#comment_list ol.commentlist li.comment .comment-author a:link, #comment_list ol.commentlist li.comment .comment-author a:visited {*/ /*color: #000;*/ /*font-weight: 700;*/ /*text-decoration: none !important*//*}*/
#comment_list ol.commentlist li.comment .comment-author.vcard {
    font-size: 18px;
    margin-bottom: 12px;
    color: #1a1a1a
}

#comment_list ol.commentlist li.comment .comment-meta.comment-metadata {
    margin-bottom: 16px
}

#comment_list cite.fn {
    color: #000;
    font-style: normal
}

#comment_list a.fn {
    color: #03a9f4;
    font-style: normal
}

#comment_list ol.commentlist li.comment .comment-author .avatar {
    float: left;
    margin-right: 16px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid #D5D5D5;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

#comment_list ol.commentlist li.comment .comment-meta a {
    color: #808080;
    text-decoration: none !important;
    font-size: 14px;
    /*font-family: 'proxima_nova_rgregular'*/
}

#comment_list ol.commentlist li.comment p {
    line-height: 22px;
    margin-top: 5px;
    color: #373737;
    font-size: 16px;
    margin-bottom: 15px
}

#comment_list ol.commentlist li.comment .comment-footer { /*border-top: 1px solid #4bb5ab;*/
}

#comment_list ol.commentlist li.comment ul.children {
    list-style: none;
    text-indent: 0; /*margin: 1em 0 0*/
    margin-top: -8px;
}

#comment_list .comment-nav {
    height: 20px;
    padding: 5px
}

#comment_list .comment-nav a:link, #comment_list .comment-nav a:visited {
    color: #f96e02
}

#commentsbox {
    margin-top: 60px
}

#commentsbox .comments-heading, #comment_list .comments-heading {
    background: url(../../icons/cmt-ttlbg.png) repeat-x 0 50%; /*font-family: 'proxima_novasemibold';*/ /*margin-bottom: 5px;*/
    font-size: 24px;
    font-weight: 400;
    color: #333; /*font-size: 30px;*/ /*color: #1a1a1a;*/
    margin-bottom: 30px;

}

#commentsbox .comments-heading h2, #comment_list .comments-heading h2 {
    background-color: #EEEEEE;
    padding-right: 15px;
    display: inline-block
}

#commentsbox #respond, #comment_list #respond {
    margin: 10px 0;
    padding: 0
}

#commentsbox #respond h3, #comment_list #respond h3 {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    padding: 10px 10px 10px 0;
}

#commentsbox #commentform {
}

#commentsbox #commentform .form-row, #comment_list #commentform .form-row {
    margin-bottom: 30px
}

#commentsbox #commentform p, #comment_list #commentform p {
    color: #444
}

#commentsbox #commentform a, #comment_list #commentform a {
    color: #0454A8
}

#commentsbox #respond label, #comment_list #commentform label {
    color: #322903;
    padding: 5px 0;
    display: block
}

#commentsbox #commentform input[type="text"], #comment_list #commentform input[type="text"] {
    width: 58%;
    height: 45px;
    display: block;
    background: #fff;
    border: 1px solid #cccccc;
    margin-bottom: 0;
    -webkit-box-shadow: 0 2px 0 #e6e6e6;
    -moz-box-shadow: 0 2px 0 #e6e6e6;
    box-shadow: 0 2px 0 #e6e6e6;
    padding-left: 5px; /*font-family: 'proxima_nova_rgregular';*/
    color: #000000;
    font-size: 18px
}

#commentsbox #commentform input[type="text"]:focus, #comment_list #commentform input[type="text"]:focus {
    border-color: #92b1cb
}

#commentsbox #commentform ::-webkit-input-placeholder, #comment_list #commentform ::-webkit-input-placeholder {
    /*font-family: 'proxima_nova_rgregular';*/
    color: #000000;
    font-size: 18px
}

#commentsbox #commentform input[type="text"]:focus ::-webkit-input-placeholder, #comment_list #commentform input[type="text"]:focus ::-webkit-input-placeholder {
    color: #4d6b85
}

#commentsbox #commentform input[type="text"]:focus :-ms-input-placeholder, #comment_list #commentform input[type="text"]:focus :-ms-input-placeholder {
    color: #4d6b85
}

#commentsbox #commentform :-moz-placeholder, #comment_list #commentform :-moz-placeholder {
    /*font-family: 'proxima_nova_rgregular';*/
    color: #000000;
    font-size: 18px
}

#commentsbox #commentform ::-moz-placeholder, #comment_list #commentform ::-moz-placeholder {
    /*font-family: 'proxima_nova_rgregular';*/
    color: #000000;
    font-size: 18px
}

#commentsbox #commentform :-ms-input-placeholder, #comment_list #commentform :-ms-input-placeholder {
    /*font-family: 'proxima_nova_rgregular';*/
    color: #000000;
    font-size: 18px
}

#commentsbox #respond input#commentSubmit, #comment_list #respond input#commentSubmit {
    border: 0;
    font-size: 23px
}

#commentsbox textarea#comment, #comment_list textarea#comment {
    width: 100%;
    clear: both;
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    /*margin-bottom: 20px;*/
    padding-left: 10px;
    color: #6a6565;
    -webkit-box-shadow: 0 2px 0 #e6e6e6;
    -moz-box-shadow: 0 2px 0 #e6e6e6;
    box-shadow: 0 2px 0 #e6e6e6;
    /*margin-bottom: 0;*/
    height: 222px
}

#commentsbox textarea#comment:focus, #comment_list textarea#comment:focus {
    border-color: #92b1cb
}

/************************************************ Footer***********************************************/
.blog-footer {
    padding: 16px 0 4px 0;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-footer a {
    color: #7F7F7F;
    text-decoration: none;
}

.blog-footer a:hover, .blog-footer a:focus, .blog-footer a:active {
    color: #000;
}

.blog-footer .brand {
    color: #7F7F7F;
    margin-bottom: 10px;
}

.blog-footer .offset {
    margin: 4px auto;
}

.footer-logo {
    height: 21px;
}

.blog-footer .col-sm-2, .col-sm-8 {
    float: left;
}

/************************************************ Navbar***********************************************/
.navbar {
    z-index: 999;
}

.navbar .main-icon {
    width: 30px;
    float: left;
    margin-right: 4px;
}

.navbar .navbar-wrapper {
    padding-top: 180px;
}

.navbar-image {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 240px;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-attachment: scroll;
    background-image: url('../../img/KydjkP5.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    display: block;
    opacity: 1;
}

.navbar-absolute-top {
    width: 100%;
    position: absolute;
}

.login-navbar-top {
    width: 100%;
    margin-bottom: 0;
    background-color: #f9f9f9;
    color: inherit;
}

/*.nav.navbar-nav {*/
    /*margin-left: 14px;*/
/*}*/

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover {
    background-color: transparent;
    font-weight: 500;
}

@media (min-width: 768px) {
    .navbar-absolute-top .navbar-right {
        margin-right: -30px;
    }

    .navbar-overlay.navbar-absolute-top .navbar-nav > li {
        background: rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }

    .navbar-overlay.navbar-fixed-top li {
        background: rgba(0, 0, 0, 0);
        -webkit-transition: all 0.1s ease;
        transition: all 0.1s ease;
    }
}

ul.scrollable-menu {
    height: auto;
    max-height: 1000%;
    /*max-height: 500px;*/
    overflow-x: hidden;
}

/************************************************ Labels***********************************************/
.label-light {
    color: #333333;
}

.label-light, .label-light.label-default {
    background-color: #EBEBEB;
}

.label-light.label-inverse {
    background-color: #D9DCF0;
}

.label-light.label-primary {
    background-color: #CDEAE7;
}

.label-light.label-success {
    background-color: #DBEFDC;
}

.label-light.label-info {
    background-color: #CDEEFC;
}

.label-light.label-warning {
    background-color: #FFDED3;
}

.label-light.label-danger {
    background-color: #FCDAD7;
}

/* Colors for categories labels */
.label-light.label-cat_id19 {
    background-color: #eaa6a5;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id18 {
    background-color: #adeac2;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id17 {
    background-color: #bcd9ea;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id16 {
    background-color: #d7c3ea;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id15 {
    background-color: #eadda2;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id14 {
    background-color: #e3eab4;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id13 {
    background-color: #e3c1ea;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id12 {
    background-color: #b8d5ea;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id11 {
    background-color: #eac1bb;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id10 {
    background-color: #b5e5ea;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id9 {
    background-color: #eaa5e1;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id8 {
    background-color: #b8b2ea;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id7 {
    background-color: #eae0b4;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id6 {
    background-color: #ceeac8;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id5{
    background-color: #ffd7e0;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id4 {
    background-color: #e8c4ea;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id3 {
    background-color: #cbdcfc;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id2 {
    background-color: #dbffed;
    clear: both;
    overflow: hidden;
}

.label-light.label-cat_id1 {
    background-color: #fcd0ef;
    clear: both;
    overflow: hidden;
}


/************************************************ Scroll-to-top colors***********************************************/
.material-scrolltop.default, .material-scrolltop.default:hover {
    background: #9e9e9e;
}

.material-scrolltop.default::before {
    background: #757575;
}

.material-scrolltop.inverse, .material-scrolltop.inverse:hover {
    background: #3f51b5;
}

.material-scrolltop.inverse::before {
    background: #3949AB;
}

.material-scrolltop.primary, .material-scrolltop.primary:hover {
    background: #009688;
}

.material-scrolltop.primary::before {
    background: #00897B;
}

.material-scrolltop.success, .material-scrolltop.success:hover {
    background: #4caf50;
}

.material-scrolltop.success::before {
    background: #43A047;
}

.material-scrolltop.info, .material-scrolltop.info:hover {
    background: #03a9f4;
}

.material-scrolltop.info::before {
    background: #039BE5;
}

.material-scrolltop.warning, .material-scrolltop.warning:hover {
    background: #ff5722;
}

.material-scrolltop.warning::before {
    background: #F4511E;
}

.material-scrolltop.danger, .material-scrolltop.danger:hover {
    background: #f44336;
}

.material-scrolltop.danger::before {
    background: #E53935;
}

.material-scrolltop.default, .material-scrolltop.default:hover, .material-scrolltop.default::before, .material-scrolltop.inverse, .material-scrolltop.inverse:hover, .material-scrolltop.inverse::before, .material-scrolltop.primary, .material-scrolltop.primary:hover, .material-scrolltop.primary::before, .material-scrolltop.success, .material-scrolltop.success:hover, .material-scrolltop.success::before, .material-scrolltop.info, .material-scrolltop.info:hover, .material-scrolltop.info::before, .material-scrolltop.warning, .material-scrolltop.warning:hover, .material-scrolltop.warning::before, .material-scrolltop.danger, .material-scrolltop.danger:hover, .material-scrolltop.danger::before {
    background-image: url('../../icons/top-arrow.svg');
    background-position: center 50%;
    background-repeat: no-repeat;
}

/************************************************ Google Maps***********************************************/
#map {
    width: 100%;
    height: 400px;
}

/************************************************ Landing***********************************************/
#landing-header {
    margin: 50px auto;
}

#landing-header h1 {
    font-size: 40px;
}

#landing-header i {
    color: #7F7F7F;
    font-size: 50px;
}

#landing-styles {
    padding: 26px 0 32px;
    background: #F9F9F9;
}

#landing-styles .style {
    margin: 20px auto;
}

#landing-footer {
    margin: 50px auto;
}

@media (min-width: 768px) {
    #landing-header h1 {
        font-size: 50px;
    }
}
